div {
        background-color:AntiqueWhite;
        color: white;
        font-size: 24px;
        border: 2px;
        padding: 1px;
        margin: 1px;
    } 
img {
  
  height:200px;
  width:200px;
}

body {
  background-image:url("https://wallpaperaccess.com/full/9234850.jpg")
}

header {
    background-color:black;
    color: white;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

section {
    padding: 40px;
}

#menu ul {
    list-style: none;
    padding: 0;
}

#menu ul li {
    background: pink;
    margin: 10px auto;
    padding: 15px;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

#fb ,#tik ,#ig {
  width:15px;
  height:15px;
}
